/*****************************************************
* CSS Mockup Activity - Custom CSS Stylesheet
* @author rlewis37
*
* Some rules have been included here to give you a head start.
* Create your own custom CSS rules below. Have fun!
******************************************************/
html, body {
	margin: 0;
}

.container {
	margin: 0 auto;
	padding: 0 2rem;
}

.clearfix {
	clear: both;
}

/* create a responsive container */
@media only screen and (min-width: 1200px) {
	.container { width: 1170px; }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.container { width: 970px; }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.container { width: 750px; }
}

/*****************************************************
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
******************************************************/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}

/*****************************************************
* ADD YOUR OWN CSS BELOW! (ﾉ◕ヮ◕)ﾉ*:･ﾟ✧
******************************************************/

/*.sfooter header {*/
	/*color: #FFFFFF;*/
	/*font-family: Arial, Helvetica, sans-serif;*/
}
.instructions {
	box-sizing: content-box;
}

.instructions {
	border: 3px solid orange;
	padding: 10px;
	margin-top: 50px;
	margin-left: 12px;
	margin-right: 12px;
	margin-bottom: 50px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 75%;
	color: orange;
}
.instructions .pull-left {
	display: inline-block;
}
header {
	background-color: orange;
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	box-sizing: content-box;
	padding: 5px;
}
header h1 {
	text-wrap: normal;
	display: inline-block;
}
header em {
	font-size: 65%;
}
body {
	box-sizing: content-box;
}
img[src="images/stunning.jpg"] {
	height: 20%;
	width: 20%;
	float: left;
	margin: 20px;
}
img[src="images/captain-janeway.png"] {
	height: 20%;
	width: 20%;
	float: right;
	padding: 3px;
	display: inline-block;
}
.pull-left {
	display: inline-block;
	border-width: thin;
	border-color: #FFFFFF;
}
.pull-right {
	display: inline-block;
}
.section1 {
	background-color: lavender;
	margin: 0px;
	border: 0px;
	padding: 50px;
	font-family: Arial, Helvetica, sans-serif;
}
.section1 h2 {
	font-size: large;
	color: dimgrey;
}
.section1 p {
	font-size: x-small;
	color: darkgrey;
}
.section1 p .bold {
	font-style: italic;
	font-weight: bold;
	color: #000000
}
.section2 h2 {
	text-align: right;
}
.section2 {
	color: orange;
}
.table2 {
	color: #FFFFFF;
	background-color: orange;
}